html * {
    font-family: 'Heebo', sans-serif;    
}

a, a:visited{
    color:black;

}
a:hover {
    color: #99ff99;
}


/** Workout Play Page **/
.workoutpanel {
    padding: 10px 10px;
    display: grid;
    /**grid-template-columns: 1fr 2fr 1fr; **/
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 100%)); */
    grid-template-columns: repeat(auto-fill, minmax(370px, 100% ));
    object-fit: cover;

}

/** top counter in workoutpane **/
.round-header {
    align-items: center;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
}

/** Bottom minute header in workoutpane **/
#minute-header {
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

/** counter in workoutpanel **/
#counter {
    align-items: center;
    height:minmax(25vh, auto);
    font-size: 22vw;
    font-weight: 900;
    text-align: center;
    border: 0.2rem black solid;
}

/** index  **/
#logo {
    font-weight: bolder;
    font-size:4rem;
    margin:0 auto;
    float: center;

}

#title-logo{
    /* grid-column: 1 / span 2; */
    font-weight: bolder;
    font-size:4rem;
}
.wrapper{
    
    width:90%;
    margin: 0 auto;
    padding: 10px 10px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-gap:2em;
    /* grid-auto-rows:minmax(100px, auto) */
    grid-template-columns: repeat(auto-fill, minmax(300px, 40vw));
    /* grid-template-areas:'showcase showcase top-box-a'; */
    object-fit: cover;
    align-self: end;
    
}

input {
    width: 90%;
    font-size: 1.8rem;
    background-color: #99ff99;
    border: black thin solid;
  }

.createform{
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
    /* color: #c5001a; */
    /* background-color:#e4e3db; */
    padding: 10px;
}
.createbox > div {    
    padding:1em;

}

.workoutlist{
    font-weight: bold;
    font-size: 1.4em;
    background: white;
    padding: .25em;
}

.workoutlist > div:nth-child(odd){
    background: #eee;
}

.logo {  
    height: 100px;
}